body, ul, li, p{
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

body {
  margin-bottom: 100px;
  font-family: Nunito, sans-serif;
}

a {
  text-decoration: none;
  color: rgb(245, 244, 244);
  width: auto;
  height: auto;
  margin-top: auto;
}

h1 {
  text-align: center;
  margin-top: 100px;
}

img {
  max-width: 100%;
  display: block;
}

.header {
  background: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.menu {
  display: flex;
}
  
.menu li {
  margin-left: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
}
/*################################################################*/
/*h1 e fundo*/

.fundo{
 display: flex;
 flex-direction: column;
 align-items: center;
 background-image: url('../img/Esmeraldas/es.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 text-align: center;
 color: white;
 padding: 20px;
}

.fotos{
  display: flex;
  justify-content: space-around;
  background: black;
}
.fotos  img{
  width: 400px;
  height: 700px;
  padding: 20px;
}
 










@media screen and (max-width: 730px ){
  .header {
  display: flexbox;
  justify-content: center;
  flex-direction: unset;
  align-items: center;
  background-color: #022f14;
}
.menu li{
  margin-left: 10px;
  font-size: 10px;
  margin: 0;
  } 
  /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
  
  .fotos{
    display: grid;
    background-image: url('../img/Esmeraldas/fundo.png');
    
    background: rgb(53, 50, 50);
    
  }
  .fotos img{
    
    width: 190px;
    height: 390px;
  }
}