body {
  font-family: woff2;
  margin: 0;
  padding: 0;
}


.formulario {
  text-align: center;
  background-color: #e8f1f2;
  margin: 25px;
  box-shadow: 0px 0px 5px #006494;
  border-radius: 100px 0px 100px 0px;
}

.formulario h1 {
  font-family: woff;
  padding-top: 15px;
  padding-bottom: 10px;
}

.caixa_form {
  padding: 20px;
  display: grid;
}

input {
  width: 80%;
  height: 25px;
  justify-self: center;
  border-radius: 20px;

  text-align: center;
  border: none;
  box-shadow: 0px 0px 1px #1b98e0;
}

.text_sexo {
  color: #247ba0;
  padding-bottom: 10px;
}

button.btn {
  width: 40%;
  height: 25px;
  justify-self: center;
  border-radius: 20px;

  text-align: center;
  border: none;
  box-shadow: 0px 0px 1px #1b98e0;
  background-color: #1b98e0;
}


input[type="number"] {
  width: 40%;
}


.sexo input {
  box-shadow: none;

}

@font-face {
  font-family: woff;
  src: url("../../components/fonts/poppins-black-webfont.woff");
}

@font-face {
  font-family: woff2;
  src: url("../../components/fonts/poppins-light-webfont.woff2");
}