* {
  margin: 0;
  padding: 0;
}

.containerHabilidades {
  background-color: cadetblue;

  min-width: 100vw;
  min-height: 100vh;

  display: flex;


  text-align: center;
  justify-self: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
}




a {
  text-decoration: none;
}

.move {
  color: aqua;
  width: 30px;

  animation: seta infinite 2s alternate-reverse;
}

@keyframes seta {
  from {
    color: #0b1c2c
  }

  to {
    color: rgb(248, 251, 251);
  }
}

.containerHabilidades h1 {
  font-family: poppinsregular, Arial, Helvetica, sans-serif;
  padding: 30px;
  font-size: 20px;
  color: #0b0288;
  text-shadow: 0px 0px 5px #e8f1f2;
}