* {
  margin: 0;
  padding: 0;
}


.containerHabilidades {
  background-color: #13293d;
  min-width: 100vw;
  min-height: 100vh;
}

.containerHabilidades h1 {
  padding: 50px;
  /* padding: 40px; */
  /* padding-bottom: 93px; */
}

a {
  text-decoration: none;
}

.move {
  position: absolute;
  color: aqua;
  animation: seta infinite 2s alternate-reverse;
  font-size: 30px;
  padding: 15px;
}



@keyframes seta {
  from {
    color: #0b1c2c
  }

  to {
    color: rgb(248, 251, 251);
  }
}

.containerHabilidades h1 {
  font-family: poppinsregular, Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 5px #e8f1f2;
}


/* 
.containerHabilidades {
  text-align: center;
} */

.containerHabilidades h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  text-align: center;
  padding: 40px;
  padding-bottom: 93px;
}


.containerHa {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  align-content: center;

}


.container {
  width: 50%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  position: absolute;
}

.box img {
  margin: 15px;
  width: 50px;
}

.box p {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  left: 105%;
  top: 30px;
  padding: 10px;
  color: #e8f1f2;
  border: solid 1px rgba(0, 0, 0, 0.625);
  background-color: #07111b5b;
  box-shadow: 2px 2px 10px #247ba0;
  border-radius: 10px;
}


.imgF img {
  position: absolute;
  bottom: 0;
  width: 30px;
  padding: 10px;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .box p {
    font-size: 13px;
  }


}

@media screen and (max-width: 590px) {
  .container {
    margin-left: 100px;
  }

  .box p {
    position: absolute;
    left: 10px;
    font-size: 15px;
    top: 100%;
  }
}

@media screen and (max-width: 490px) {
  .container {
    margin-left: 50px;
    grid-template-columns: repeat(3, 1fr);
  }

  .containerHabilidades h1 {
    padding: 24px;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 340px) {

  .container {
    margin-left: 0px;
    width: 50%;
    padding: 15px;
    display: grid;
    position: absolute;
  }
}