* {
  margin: 0;
  padding: 0;
}


.containerHabilidades {
  background-color: rgb(95, 160, 95);
  min-width: 100vw;
  min-height: 100vh;
}



a {
  text-decoration: none;
}

/* 
.move {
  color: aqua;
  animation: seta infinite 2s alternate-reverse;
}



@keyframes seta {
  from {
    color: #0b1c2c
  }

  to {
    color: rgb(248, 251, 251);
  }
}

.containerHabilidades h1 {
  font-family: poppinsregular, Arial, Helvetica, sans-serif;
  text-shadow: 0px 0px 5px #e8f1f2;
} */



/* 
.containerHabilidades {
  text-align: center;
} */

.containerHabilidades h1 {
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px;
  text-align: center;
}

/* INICIANDDO */


.containerHa {
  position: relative;
  /* display: block; */
  text-align: center;
  /*
  */
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  align-self: center;
  align-content: center;

}


.container {
  width: 50%;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  position: absolute;
}

.box img {
  margin: 15px;
  width: 50px;
}

.box p {
  position: absolute;
  left: 110%;
  top: 0;
}

.paragrafo {
  /* display: none; */
}


.paragrafo:hover {
  /* display: none; */
  /* visibility: hidden; */
  /* color: rgb(72, 0, 255); */

}

@media screen and (max-width: 590px) {
  .box p {
    position: absolute;
    left: 10px;

    top: 100%;
  }

}

@media screen and (max-width: 340px) {

  .container {
    width: 50%;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    position: absolute;
  }


}