@media screen and (max-width: 1000px) {
  .imgPrincipal img {
    width: 370px;
  }


  .foto img {
    margin: 100px 50px 0px 0px;
  }

  #sobremin h1 {
    padding: 10px;
  }
}

@media screen and (max-width: 900px) {
  .imgPrincipal img {
    width: 250px;
  }


  .foto img {
    margin: 115px 50px 0px 0px;
  }

  #sobremin h1 {
    padding: 10px;
  }

}


@media screen and (max-width: 750px) {
  .typedtext {
    font-size: 25px;
  }

  .imgPrincipal {
    padding: 13px;
  }

  .foto img {
    margin: 0px 50px 0px 0px;
  }

  #sobremin h1 {
    padding: 10px;
  }





}


@media screen and (max-width: 577px) {
  header {
    flex-direction: column;
  }

  main {
    flex-direction: column;
  }

  .typedtext {
    font-size: 40px;
  }

  h2 {
    font-size: 38px;
  }

  /* img{display: none;} */
  ul {
    text-align: center;
  }



}

@media screen and (max-width: 430px) {
  span {
    font-size: 30px;
  }

  .typedtext {
    font-size: 20px;
  }

  .rodaPe img {
    width: 25px;
  }

  .rodaPe h1 {
    font-size: 20px;
  }


}