body {
    /* background-image: url('../components/images/0.jpg'); */
    background-image: linear-gradient(90deg, #13293d, #e8f1f2);
    background-size: cover;
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

aside {
    margin-top: -70px;
}

/* texto sendo digitado automaitco */
.typedtext {
    font-size: 46px;
    line-height: 10px;
    font-family: poppinsmedium;


    margin-top: 20%;
    /* border-right: 2px solid rgb(248, 248, 248); */
    height: 40px;
    margin-bottom: 55px;
    color: #1b90e0;
    display: block;
    /* focus */
    /* animation: blinkTextCursor 800ms steps(44) infinite normal; */
}

.content h2 {
    margin-top: -40px;
}

/* 
@keyframes blinkTextCursor {
    from {
        border-right-color: #1b90e0;
    }

    to {
        border-right-color: transparent;
    }
} */

/* fim texto sendo digitado automaitco */




/* imagems logo */
.movDlogo img {
    width: 50px;
}

.movDlogo {
    position: relative;
}


.img1 {
    left: 0px;
    position: absolute;

    animation: anima infinite 2s alternate;
}

.img2 {
    left: 35px;
    position: absolute;
}

.img3 {
    left: 69px;
    position: absolute;

    animation: anima2 infinite 2s alternate;

}


@keyframes anima {
    form {
        left: 0px;

    }

    to {
        left: 69px;

    }
}

@keyframes anima2 {
    form {
        left: 69px;

    }

    to {
        left: 0px;
    }

}

/* fim imagems logo */




li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}


a:hover {
    color: #1b90e0;

    transition: 0.3s all;
}

#inscreva-se-btn {
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover {
    background-color: #7e7e7d00;
    box-shadow: 0px 2px 5px rgb(21, 21, 21);
    color: #1b90e0;
}

h1 {
    font-weight: 200;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2 {
    font-size: 46px;
    line-height: 10px;
    font-family: poppinsmedium;
}

/* 
span {
    color: #1b90e0;
} */

p {
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img {
    width: 500px;
    border-radius: 50%;
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"] {
    height: 50px;
    width: 50%;
    background-color: #1b90e0;

    color: #e8f1f2;
    font-weight: bold;
}

form [type="submit"]:hover {
    cursor: pointer;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}